/* Global Styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    list-style-type: none;
    
}

.foot {
    
     background-color: #1e1e1e; 
    position: relative;
    bottom: 0;
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    align-items: center; /* Center content horizontally */
    padding: 20px 0;
    color: #ff6f61;

}
ul{
    margin-top: 5px;
}
li{
    margin-top: 2px;
    
}
a{
    color: #ff6f61;
}

.foot .top-section {
    display: flex;
    justify-content: space-around; /* Distribute the content evenly */
    width: 100%; /* Make sure the top section takes full width */
    color: #ff6f61;
}

.pages, .links, .social {
    width: 33%;
    padding: 10px;
    text-align: center; /* Center text inside */
    color: #ff6f61;
    
}

.pcon, .lcon, .scon {
    padding: 6px;
}

.copyright {
    border-top: 10px solid #F5D2D2;
    /* background-color: #FBF5DD; */
    width: 100%; /* Make the copyright section take full width */
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    color: #ff6f61;
    
}

.foot li:hover {
    font-size: 25px;
    
    transition: font-size 0.3s ease-in-out; /* Smooth transition */
}


