

/* Body  */
body {
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Form Container Styling */
form {
    display: flex;
    flex-direction: column;
    border: 2px solid #1e1e1e;
    align-items: center;
    position: relative;
    top: 15vh;
    left: 25vw;
    height: 77vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.463);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.463);
    border-radius: 5%;
    color: #ff6f61;
}

/* Input Box */
.box {
    display: block;
    width: 20vw;
    margin-top: 4vh;
    height: 4vh;
    margin-left: 0vw;
    background-color: rgba(0, 0, 0, 0.463);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.463);
    border: none;
    outline: none;
    border-radius: 10%;
    color: #ff6f61;
    text-align: center;
}

/* Submit Button Styling */
button {
    display: block;
    margin-left: 7vw;
    margin-top: 4.1vh;
    width: 7vw;
    background-color: rgba(0, 0, 0, 0.463);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.463);
    color: #ff6f61;
    border: none;
    outline: none;
    border-radius: 10%;
}

/* sign in */
p {
    position: relative;
    display: inline;
    font-size: 1rem;
    font-style: oblique;
    color: #ff6f61;
    margin-bottom: 10vh;
    bottom: -5vh;
    left: -7vw;
    margin-right: 0.5vw;
}
.alert {
    padding: 20px;
    background-color: #4BB543;
    color: white;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
